form{
    background-color: bisque;
    border: 2px solid grey;
    width: 650px;
    height: 500px;
    margin-left: 24%;
    margin-top: 8%;
}
legend{
    font-size: 35px;
    color: brown;
    text-shadow: 2px 2px 6px grey;

}
#password{
    font-size: 25px;
}
#pnumber{
    font-size: 25px;
}
label{
    font-size: 25px;
    color: cadetblue;
}
a{
    text-decoration: none;
    font-size: 25px;
    color: black;
    border: 2px solid black;
    background-color: tomato;
    margin-left: 34%;
}
#l1{
    margin-left: 39%;
}
#otp{
    margin-left: 36%;
}
#sub{
    margin-left: 42%;
    margin-top: 7%;
    border: 2px solid black;
}
body{
    border: 2px solid grey;
    width: 1500px;
    height: 800px;
    background-image: linear-gradient(lightgrey,bisque,pink);
}